// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$green: #25DA64;
$gray: #E5E5E5;

// Contrast colours
$pink: #da259b;

// Tetradic colours
$yellow-green: #9bda25;
$purple: #6425da;

// Analogous colours
$green-contrast: #41da25;
$blue: #25dabf;
