<div class="logo">
  <h6>MARIELLE DE JONG</h6>
</div>

<div id="banner-font">Hello</div>
<h2>H2 I'm Marielle</h2>
<h3>H3 I'm testing</h3>
<h4>H4 The size of the fonts</h4>
<h5>H5 MARIELLE DE JONG</h5>
<h6>H6This is the smallest header</h6>
<p>p This is a paragraph</p>
<div class="menu-font">Menu</div>
